@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* nav styles */

* {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 17px 24px 17px 24px;
}

nav .nav-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}

nav ul li {
    list-style: none;
}

nav ul .nav-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    background-color: transparent;
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px 17px 24px;
    cursor: pointer;
}

/* banner styles */
.banner-container {
    width: 100%;
    height: 652px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container .banner-content {
    width: 998px;
    height: 582px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-container .banner-content img {
    width: 240.28px;
    height: 240px;
    margin-top: 26px;
}

.banner-container .banner-content .banner-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 32px;
}

.banner-container .banner-content .banner-description {
    color: rgba(13, 19, 33, 0.60);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    text-align: center;
}

.banner-container .banner-content .banner-btn {
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    padding: 21px 24px 21px 24px;
    cursor: pointer;
    margin-top: 32px;
    border: none;
}

/* web development section */
.web-development-container {
    width: 1140px;
    margin: 0 auto;
    margin-top: 74px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}

.web-development-container .web-development-details {
    padding: 80px 97px;
}

.web-development-container .web-development-details .web-development-objective h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    align-self: stretch;
}

.web-development-container .web-development-details .web-development-objective p {
    color: rgba(13, 19, 33, 0.70);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    text-align: center;
    align-self: stretch;
}

.web-development-container .web-development-details .box-model {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    margin-top: 48px;
}

.web-development-container .web-development-details .box-model:nth-child(3) {
    background: linear-gradient(90.00deg, rgba(255, 255, 255, 0), rgb(255, 255, 255) 100%);
}

.web-development-container .web-development-details .box-model .section-1 {
    width: 477px;
    padding: 0px;
}

.web-development-container .web-development-details .box-model .section-1 .web-development-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}

.web-development-container .web-development-details .box-model .section-1 .web-development-description {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.web-development-container .web-development-details .box-model .section-1 .web-btn {
    width: 150px;
    height: 48px;
    color: rgb(13, 19, 33);
    padding: 12px 20px 12px 20px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 32px;
    background-color: transparent;
    cursor: pointer;
}

.web-development-container .web-development-details .box-model .section-2 {
    width: 259.56px;
}

.web-development-container .web-development-details .box-model .section-2 img {
    width: 100%;
    height: 100%;
}

/* inspiration styles */
.inspiration-container {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inspiration-container .inspiration-content {
    width: 852px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.inspiration-container .inspiration-content .inspiration-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.inspiration-container .inspiration-content .inspiration-description {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
}

.inspiration-container .inspiration-video-container {
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    margin-top: 48px;
}

.inspiration-container .inspiration-video-container .inspiration-video-content,
iframe {
    width: 1076px;
    height: 550px;
    align-self: stretch;
    border-radius: 16px;
}

/* target styles */
.target-container {
    width: 1140px;
    height: 1437px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 151px;
}

.target-container .current-target-container {
    width: 1140px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.target-container .current-target-content {
    width: 946px;
    height: 113px;
}

.target-container .current-target-content .current-target-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.target-container .current-target-content .current-target-description {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    text-align: center;
}

.target-container .current-target-card-container {
    width: 1140px;
    height: 299px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

.target-container .current-target-card-container .card {
    width: 364px;
    height: 299px;
    border-radius: 16px;
}

.target-container .current-target-card-container .card .card-content {
    width: 284px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 40px auto;
}

.target-container .current-target-card-container .card .card-content img {
    width: 56px;
    height: 56px;
}

.target-container .current-target-card-container .card .card-content .card-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}

.target-container .current-target-card-container .card .card-content .card-description {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.target-container .current-target-card-container .card .card-content .content-link {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 24px;
}

.card-bg-primary {
    background-color: rgba(255, 76, 30, 0.05);
}

.card-bg-secondary {
    background-color: rgba(0, 76, 232, 0.05);
}

.card-bg-tertiary {
    background-color: rgba(255, 223, 0, 0.05);
}

.target-container .next-target-container {
    width: 1140px;
    height: 866px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 111px;
}

.target-container .next-target-container .next-target-content {
    width: 946px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}

.target-container .next-target-container .next-target-content .next-target-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.target-container .next-target-container .next-target-content .next-target-description {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
}

.target-container .next-target-container .next-target-details-container {
    width: 100%;
    height: 219px;
    display: flex;
    margin-top: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}

.target-container .next-target-container .next-target-details-container .next-target-details-content {
    width: 1060px;
    height: 139px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.target-container .next-target-container .next-target-details-container .next-target-details-content .next-target-details-section-1 {
    width: 94.78px;
    height: 84.41px;
}

.target-container .next-target-container .next-target-details-container .next-target-details-content .next-target-details-section-1 img {
    width: 94.78px;
    height: 84.41px;
    /* margin: 24px; */
}

.target-container .next-target-container .next-target-details-container .next-target-details-content .next-target-details-section-2 {
    width: 941.22px;
    height: 139px;
}

.target-container .next-target-container .next-target-details-container .next-target-details-content .next-target-details-section-2 .next-target-details-content-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}

.target-container .next-target-container .next-target-details-container .next-target-details-content .next-target-details-section-2 .next-target-details-content-description {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 24px;
}

.target-container .next-target-container .next-target-details-container .next-target-details-content .next-target-details-section-2 .next-target-details-content-link {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* support styles */
.support-container {
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 80px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5 )), url("../assets/handshake.jpg");
}

.support-container .support-content {
    width: 1044px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.support-container .support-content .section-1 {
    width: 730px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-container .support-content .section-1 .support-title {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
}

.support-container .support-content .section-1 .support-description {
    color: #B7B4B3;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
}

.support-container .support-content .section-2 {
    width: 684px;
    height: 57px;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 24px;
}

.support-container .support-content .section-2 .support-input {
    width: 548px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;

    background: rgb(255, 255, 255);
}

.support-container .support-content .section-2 .support-input::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.support-container .support-content .section-2 .support-submit {
    width: 120px;
    height: 57px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* footer styles */
.footer-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgba(13, 19, 33, 0.03);
    margin: 0 auto;
}

.footer-content {
    width: 1140px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer-content .section-1 .footer-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

.footer-content .section-2 {
    width: 157.01px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}